/****MAIN CONTAINER*****/

.cv-container {
  padding-left: 2*$gutter-width !important;
  padding-right: 2*$gutter-width !important;
  max-width: $max-width !important;

  @media #{$bp-lg} {
    box-sizing: content-box !important;
    padding-left: calc(50% - #{$half-max-width}) !important;
    padding-right: calc(50% - #{$half-max-width}) !important;
  }
}

  .cv-main {
    padding-top: 7 * $gutter-width;
    height: 100%;
  }

 /******BUTTON******/

.cv-button {
  @include font-size(1.2, 1);
  border-radius: 3*$gutter-width;
  cursor: pointer;
  font-family: $heading-font-family;
  padding: 1.7*$gutter-width 4.5*$gutter-width;
}

  .cv-button-light {
    color: $heading-color;
  }

  .cv-button-dark {
    background: linear-gradient(45deg, $heading-color, $heading-color 30%, $secondary-color 70%, $secondary-color);
    color: $white;
  }

  .cv-button-small {
    padding: 1.1*$gutter-width 1.7*$gutter-width;
  }

/******CARD********/

.cv-card {
  padding: 5*$gutter-width;
  border-radius: 0.5 * $gutter-width;
  position: relative;
}

.cv-card-light {
  background: $white;
  box-shadow: $box-shadow;
  color: $primary-color;
}

.cv-card-dark {
  background: linear-gradient(45deg, $heading-color, $secondary-color);
  color: $white;
}

/*******ICONS*******/

.cv-icon {
  height: 3rem;
  width: 3rem;
  background-size: contain;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}

