@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500');

@font-face {
  font-family: 'geometos';
  src: url('../fonts/geometos-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
