/*****HOME STYLES*****/

.cv-home-container {
  padding-top: 100px;
}

  .cv-home-header {
    font-weight: 500;
  }

    .cv-home-header-title {
      @include font-size(10, 1.8);
      color: $heading-color;
      -webkit-text-fill-color: transparent;
      display: inline-block;
      background: linear-gradient(45deg, $heading-color, $heading-color 30%, $secondary-color 70%, $secondary-color);
      letter-spacing: 6rem;
      -webkit-background-clip: text;
    }


  .cv-home-button {
    margin: 100px 0;
  }
