#loader-wrapper {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
}

  #loader, #loader:before, #loader:after {
    border: 3px solid transparent;
    border-radius: 50%;
  }

  #loader {
    display: block;
    position: relative;
    left: 50%;
    top: 40%;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    z-index: 1500;
    border-top-color: $heading-color;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;

    &:before, &:after {
      content: "";
      position: absolute;
    }

    &:before {
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-top-color: $secondary-color;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }

    &:after {
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      -webkit-animation: spin 1.5s linear infinite;
      animation: spin 1.5s linear infinite;
      border-top-color: $translucent-heading-color;
    }
  }


