.cv-team-section-heading {
  padding-bottom: 3 * $gutter-width;
}

.cv-team-core .cv-team-section-heading {
  text-align: center;
}

.cv-team-subsection-heading {
  color: black;
}

.cv-team-section {
  margin: 30px 0px;
}

.cv-team-section-members {
  display: flex;
  align-items: start;
  text-align: center;
  flex-wrap: wrap;
}

.cv-team-person-card {
  width: 40%;
  position: relative;
  margin: 3 * $gutter-width 0;

  &:nth-child(2n) {
    margin-left: 10%;
  }

  &:nth-child(2n+1) {
    margin-right: 10%;
  }

  @media #{$bp-sm} {
    width: 10%;
    margin-right: 6%;
    margin-left: 6%;

    &:nth-child(2n) {
      margin-left: 6%;
    }

    &:nth-child(2n+1) {
      margin-right: 6%;
    }

    &:nth-child(5n) {
      margin-right: 0;
    }

    &:nth-child(5n+1) {
      margin-left: 0;
    }
  }
}

.cv-team-core .cv-team-person-card {
  @media #{$bp-sm} {
    width: 13%;
    margin-right: 8%;
    margin-left: 8%;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-child(4n+1) {
      margin-left: 0;
    }
  }
}

.cv-team-person-card:hover .cv-team-person-card-overlay {
  opacity: 1;
}

.cv-team-person-image-border {
  border-radius: 100%;
  overflow: hidden;
  padding: 3%;
  position: relative;
  background: linear-gradient(45deg, $heading-color, $secondary-color);
}

.cv-team-person-image-container {
  @include aspect-ratio(1, 1);
  border-radius: 100%;
  overflow: hidden;
}

.cv-team-person-card-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 7;
  transition: opacity 0.2s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, $translucent-heading-color, $translucent-secondary-color)
}

.cv-team-person-card-overlay-text {
  @include font-size(1.2, 1.2);
  color: $white;
  font-family: $heading-font-family;
  font-weight: bold;
}

.cv-team-core .cv-team-person-card-overlay-text {
  @include font-size(1.4, 1.2);
}

.cv-team-person-card-details {
  padding: 2*$gutter-width 0;
  font-family: $heading-font-family;
}

.cv-team-person-name,
.cv-team-person-desc {
  display: block;
}

.cv-team-person-name {
  color: $black;
  @include font-size(1.4, 1.2);
}

.cv-team-person-desc {
  padding-top: 2px;
  @include font-size(1.2, 1.2);
}

.cv-team-core .cv-team-person-name {
  @include font-size(1.6, 1.2);
}

.cv-tema-core .cv-team-person-desc {
  @include font-size(1.4, 1.2);
}
