* {
  @include placeholder {
    color: $secondary-color;
  }
}

body, input {
  color: $primary-color;
}

html {
  height: 100%;
}

body {
  padding: 0;
  height: 100%;
}

#app,.cv-root-container {
  height: 100%
}

h1, h2, h3, h4, h5, h6 {
  color: $heading-color;
}

a {
  color: inherit;
  cursor: pointer;
  outline: none;
}


.no-select {
  user-select: none;
}

.right-align {
  text-align: right;
}

.navbar-box-shadow {
  box-shadow: $box-shadow !important;
}

.hidden-small {
  visibility: hidden;
  opacity: 0 !important;
  position: absolute;
  top: -1000px;

  @media #{$bp-sm} {
    visibility: visible;
    opacity: 1 !important;
    position: static;
  }
}
