* {
  @include placeholder {
    color: $secondary-color;
  }
}

body, input {
  color: $primary-color;
}

body {
  background-color: $primary-bg-color;
  padding: 2 * $gutter-width;
}

h1, h2, h3, h4, h5, h6 {
  color: $heading-color;
}

a {
  color: inherit;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
